<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>
         {#asset styles.css @encoding=utf8}
    </style>
    <script>{#asset qrcode.min.js @encoding=utf8}</script>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0">
            <tr class="top">
                <td >
                    <table>
                        <tr>
                            <td class="logo"><br>
                                {{#if FLAG}}
                                    <img src='{{URL_LOGO}}' style="max-width:300px;"/>
                                {{else}}
                                    {{NOMBRE}} 
                                {{/if}}
                                <br>
                                <label>Dirección: {{DIRECCION}}</label>
                            </td>
                            
                            <td class="correlativo">
                                RUC: {{RUC}}<br>
                                {{DOCUMENTO}}<br>
                                <label style="float: center;">{{SERIE}}</label>
                                <label>-</label>
                                <label style="float: center">{{NUMERO}}</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
            <tr class="information">
                <td>
                    <table>
                        <tr>
                            <td>
                                <strong>SEÑOR(ES): </strong> <br>
                                <strong>RUC:  </strong><br> 
                                <strong>DIRECCION: </strong> 
                            </td>
                            <td style="text-align: left;text-align: -webkit-left;">
                                 {{CLIENTE}}<br>
                                 {{RUC_CLIENTE}}<br>
                                 {{DIRECCION_CLIENTE}}
                            </td>
                            <td style="text-align: right;text-align: -webkit-right;">
                                <strong>FECHA EMISION:</strong><br>
                                <strong>FECHA VENCIMIENTO:</strong><br>
                            </td>
                            <td>
                                {{FECHA_EMISION}}<br>
                                {{FECHA_VENCIMIENTO}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
              
            <tr class="information">
                <td colspan="2">
                    <table style="line-height: 16px;">
                        <tr>
                            <td>
                                <strong>NRO. GUIA:  </strong><br> 
                                <strong>GLOSA: </strong><BR> 
                                <strong>OBSERVACIONES: </strong> 
                            </td>
                            <td style= "text-align: left;text-align: -webkit-left;">
                                 {{NRO_GUIA}}<br>
                                 {{GLOSA}}<BR>
                                 {{OBSERVACIONES}}
                            </td>
                            <td >
                                <strong>CREADO POR: </strong><br>
                                <strong>FORMA DE PAGO: </strong><br>
                                <strong>PLACA VEHICULAR: </strong>
                            </td>
                            <td>
                                {{CAJERO}}<br>
                                {{FORMA_PAGO}}<br>
                                {{PLACA_VEHICULAR}}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
             
        </table>
        
        <table cellpadding="0" cellspacing="0">
            <tr class="heading">
                <td>
                    CANT.
                </td>
                <td>
                    UNID.
                </td>
                <td>
                    DESCRIPCION
                </td>
                <td>
                    P. UNIT.
                </td>
                <td>
                    DSCTO.
                </td>
                <td>
                    SUB TOTAL
                </td>
            </tr>
            
            {{#each DETALLES}}
                <tr class="item">
                    <td>
                        {{CANTIDAD}}
                    </td>
                    <td>
                        {{UNIDAD}}
                    </td>
                    <td>
                        {{DESCRIPCION}}
                    </td>
                    <td>
                        {{PRECIO_UNITARIO}}
                    </td>
                    <td>
                        {{DESCUENTO}}
                    </td>
                    <td>
                        {{SUBTOTAL}}
                    </td>
                    <td>&nbsp;</td>                  
                </tr>
            {{/each}}
        </table>
        <table>
        <td>
            {{ESCRITURA_MONTO}}
        </td>
        </table>
        
    </div>
    <table class = "tabla_op">
       <tr>
            <td>OP. GRAVADAS:</td>
            <td class="detalle_op">{{GRAVADAS}}</td>
        </tr>
        <tr>
            <td>OP. EXONERADAS:</td>
            <td class="detalle_op">{{EXONERADAS}}</td>
        </tr> 
        <tr>
            <td>OP. GRATUITAS:</td>
            <td class="detalle_op">{{GRATUITAS}}</td>
        </tr>
        <tr>
            <td>OP. INAFECTAS:</td>
            <td class="detalle_op">{{INAFECTAS}}</td>
        </tr>
        <tr>
            <td>DESCUENTO:</td>
            <td class="detalle_op">{{DESCUENTO}}</td>
        </tr>
        <tr>
            <td>I.G.V.:</td>
            <td class="detalle_op">{{IGV}}</td>
        </tr>
        <tr>
            <td style = "font-weight: bold;">TOTAL:</td>
            <td class="detalle_op" style = "font-weight: bold;">{{TOTAL}}</td>
        </tr>
    </table>
    <input id="comp" type="text" value="{{RUC}}|{{COD_TIPOCOMPROBANTE}}|{{SERIE}}|{{NUMERO}}|{{IGV}}|{{TOTAL}}|{{FECHA_EMISION}}|{{COD_DOCCLIENTE}}|{{RUC_CLIENTE}}"
    style = "display:none;"/><br />
    <div id="qrcode" style = "border: black 1px solid;
    padding: 10px;
    margin-top: -20px;
    position: absolute;
    " ></div>
    <script>
        var qrcode = new QRCode("qrcode");
        function makeCode () {		
            var elText = document.getElementById("comp");
            qrcode.makeCode(elText.value);  
        }
        makeCode();
    </script>
    <p class="pie_pagina">
        {{PIE_DE_PAGINA}}
    </p>
</body>
</html>