<!DOCTYPE html>
<html>
<head>
  <style>
         {#asset style-ticket-salida-entrada.css @encoding=utf8}
    </style>
</head>
<body > 
    <div class="ticket">    
        <div class="encabezado"> 
            <p class="nombre-empresa">{{NOMBRE}}</p> 
            <p class="direccion-empresa">{{DIRECCION}}</p>
            <p class="ruc-emisor">RUC: {{RUC}}</p>
            <p class="tipo-doc">{{DOCUMENTO}}</p>      
            <p class="correlativo">{{COD_TIPO_DOCUMENTO}}: {{SERIE}}-{{NUMERO}}</p>
            <p class="fecha-emision">FECHA: {{FECHA_EMISION}}</p>
            <p class = "cliente" >
                <span>TIPO: {{TIPO}}</span><br>
                <span>MOTIVO: {{MOTIVO}}</span><br>   
                <span>OBSERVACIONES: {{OBSERVACIONES}}</span>
            </p>
        </div>    
        <table>
                <tr class = "titulos_tabla">              
                  <th>CANT.</th>          
                  <th style="padding-left:15px;">U.M.</th>                                         
                  <th style="padding-left: 70px;">PRODUCTO</th>
                </tr>    
                
                {{#each DETALLES}}
                     
                    <tr>         
                        <td>{{CANTIDAD}}</td>
                        <td >{{UNIDAD}}</td>
                        <td style="padding-left:23px">{{DESCRIPCION}}</td>
                       
                    </tr>    
                {{/each}}
                
        </table>
        <table class="pie-pagina">
            <tr>
                <td>--------------------------</td>
                <td style="padding: 0 0 0px 20px;">-------------------------------------</td>
            </tr>
            <tr>
                <td style="padding: 0 0 0 0;">VoBo</td>
                <td style="padding: 0px 21px 0px 48px;" rowspan="1">RESPONSABLE</td>
            </tr>
            <tr>
                <td style="padding: 0 0 0 0;">USUARIO: {{USUARIO}}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">v.:{{VERSION_SISTEMA}}</td>
            </tr>
        </table>
    </div>
     <script>
       
        window.JSREPORT_CHROME_PDF_OPTIONS = {
            width:  '80mm',
            height: '297mm'
        }
    </script>
</body>

</html>
