<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <style>
         {#asset stylesComprobantes.css @encoding=utf8}
    </style>
    <script>{#asset qrcode.min.js @encoding=utf8}</script>
</head>

<body>
    <div class="invoice-box">
        <table cellpadding="0" cellspacing="0" style="line-height: 20px;">
            <tr class="top">
                <td style="width:60%">
                    <table>
                        <tr>
                            <td class="logo" style="max-width:250px;"><br> 
                                
                            </td>
                             
                        </tr>
                    </table>
                </td>
                 <td style="width:40%">
                    <table>
                        <tr>
                            
                            <td class="correlativo" style="width:40%">
                                RUC: {{RUC}}<br>
                                {{DOCUMENTO}}<br>
                                <label style="float: center;">{{SERIE}}</label>
                                <label>-</label>
                                <label style="float: center">{{NUMERO}}</label>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>  
        <table cellpadding="0" cellspacing="0">
            <tr>
                <td style="width:65%">
                    <table style="line-height: 16px;">
                        <tr>
                            <td style="width:10%">
                                <strong>SEÑOR(ES): </strong>   
                            </td>
                            <td style="width:60%;text-align: left;text-align: -webkit-left;">
                                 {{CLIENTE}} 
                            </td>
                           
                        </tr>
                        <tr>
                            <td style="width:10%">
                                <strong>RUC:  </strong> 
                            </td>
                            <td style="width:60%;text-align: left;text-align: -webkit-left;">
                                 {{RUC_CLIENTE}} 
                            </td>
                        </tr>
                         <tr>
                            <td style="width:10%">
                                  <strong>DIRECCION: </strong> 
                            </td>
                            <td style="width:60%;text-align: left;text-align: -webkit-left;">
                                 {{DIRECCION_CLIENTE}} 
                            </td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table style="line-height: 16px;">
                        <tr>
                            <td style="width:20%;text-align: right;text-align: -webkit-right;">
                                <strong>FECHA EMISION:</strong><br>
                                <strong>FECHA VENCIMIENTO:</strong><br>
                            </td>
                            <td style="width:10%">
                                {{FECHA_EMISION}}<br>
                                {{FECHA_VENCIMIENTO}}
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            
              
            <tr class="information">
                <td colspan="2">
                    <table style="line-height: 16px;">
                        <tr>
                            <td style="width:10%">
                                <strong>NRO. GUIA:  </strong><br> 
                                <strong>GLOSA: </strong><BR> 
                                <strong>OBSERVACIONES: </strong> 
                            </td>
                            <td style="width:50%;text-align: left;text-align: -webkit-left;">
                                 {{NRO_GUIA}}<br>
                                 {{GLOSA}}<BR>
                                 {{OBSERVACIONES}}
                            </td>
                            <td style="width:20%">
                                <strong>CREADO POR: </strong><br>
                                <strong>FORMA DE PAGO: </strong><br>
                                <strong>MONEDA: </strong>
                            </td>
                            <td style="width:20%;text-align: left;text-align: -webkit-left;">
                                {{CAJERO}}<br>
                                {{FORMA_PAGO}}<br>
                                {{MONEDA}}<br>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            {{#if FLAG_ANULADO}}
             <tr class="information">
                <td colspan="2">
                    <table style="line-height: 16px;">
                        <tr>
                            <td style="width:25%">
                                <strong>MOTIVO O SUSTENTO:</strong><br> 
                                <strong>COMPROBANTE AFECTADO:</strong><BR> 
                               
                            </td>
                            <td style="width:75%;text-align: left;text-align: -webkit-left;">
                                 {{MOTIVO_ANULACION}}<br>
                                 {{COMP_AFECTADO}}
                                 
                            </td>
                            
                        </tr>
                    </table>
                </td>
            </tr>
            {{/if}}
        </table>
        
        <table cellpadding="0" cellspacing="0">
            <tr class="heading">
                <td>
                    CANT.
                </td>
                <td>
                    UNID.
                </td>
                <td>
                    DESCRIPCION
                </td>
                <td>
                    P. UNIT.
                </td>
                <td>
                    DSCTO.
                </td>
                <td>
                    SUB TOTAL
                </td>
            </tr>
            
            {{#each DETALLES}}
                <tr class="item">
                    <td>
                        {{CANTIDAD}}
                    </td>
                    <td>
                        {{UNIDAD}}
                    </td>
                    <td>
                        {{DESCRIPCION}}
                    </td>
                    <td>
                        {{PRECIO_UNITARIO}}
                    </td>
                    <td>
                        {{DESCUENTO}}
                    </td>
                    <td>
                        {{SUBTOTAL}}
                    </td>
                    <td>&nbsp;</td>                  
                </tr>
            {{/each}}
        </table>
        <table>
        <td>
            {{ESCRITURA_MONTO}}
        </td>
        </table>
        
    </div>
    <table class = "tabla_op">
       <tr>
            <td>OP. GRAVADAS:</td>
            <td class="detalle_op">{{GRAVADAS}}</td>
        </tr>
        <tr>
            <td>OP. EXONERADAS:</td>
            <td class="detalle_op">{{EXONERADAS}}</td>
        </tr> 
        <tr>
            <td>OP. GRATUITAS:</td>
            <td class="detalle_op">{{GRATUITAS}}</td>
        </tr>
        <tr>
            <td>OP. INAFECTAS:</td>
            <td class="detalle_op">{{INAFECTAS}}</td>
        </tr>
        <tr>
            <td>DESCUENTO:</td>
            <td class="detalle_op">{{DESCUENTO}}</td>
        </tr>
        <tr>
            <td>{{DES_IMPUESTO}}({{IMPUESTO}}%):</td>
            <td class="detalle_op">{{IGV}}</td>
        </tr>
        <tr>
            <td style = "font-weight: bold;">TOTAL:</td>
            <td class="detalle_op" style = "font-weight: bold;">{{TOTAL}}</td>
        </tr>
    </table>
    <input id="comp" type="text" value="{{RUC}}|{{COD_TIPOCOMPROBANTE}}|{{SERIE}}|{{NUMERO}}|{{IGV}}|{{TOTAL}}|{{FECHA_EMISION}}|{{COD_DOCCLIENTE}}|{{RUC_CLIENTE}}"
    style = "display:none;"/><br />
    <div id="qrcode" style = "border: black 1px solid;
    padding: 10px;
    margin-top: -20px;
    position: absolute;
    " ></div>
    <script>
        var qrcode = new QRCode("qrcode");
        function makeCode () {		
            var elText = document.getElementById("comp");
            qrcode.makeCode(elText.value);  
        }
        makeCode();
        window.JSREPORT_CHROME_PDF_OPTIONS = {
            width:  '8.27in',
            height: '11.7in'
        }
    </script>
    <p class="pie_pagina">
        {{PIE_DE_PAGINA}}
    </p>
</body>
 
</html>