<!DOCTYPE html>
<html>
<head>
   <style>
         {#asset style-recibos.css @encoding=utf8}
    </style>
</head>
<body > 
    <div class="ticket">    
        <div class="encabezado"> 
            <p class="nombre-empresa">{{NOMBRE}}</p> 
            <p class="direccion-empresa">{{DIRECCION}}</p>
            <p class="ruc-emisor">RUC: {{RUC}}</p>
            <p class="tipo-doc">{{DOCUMENTO}}</p>      
            <p class="correlativo">{{COD_TIPO_DOCUMENTO}}: {{SERIE}}-{{NUMERO}}</p>
            <p class="fecha-emision">FECHA: {{FECHA_EMISION}}</p>
            <p class = "cliente" >
                <span>CLIENTE:  {{NOM_SOLICITANTE}}</span><br>
                <span>CUENTA: {{NUM_CUENTA}}</span><br>
                <span>CONCEPTO: {{CONCEPTO}}</span>
            </p>
        </div>    
        <table style="text-align: center;">
            <tr>
                <td>IMPORTE:</td> 
                <td style="padding-left: 61px;">{{MONEDA}} {{IMPORTE}}</td>
            </tr>
        </table>      
        <table class="pie-pagina">
            <tr>
                <td>--------------------------</td>
                <td style="padding: 0 0 0px 0px;">-------------------------------------</td>
            </tr>
            <tr>
                <td style="padding: 0 0 0 0;">VoBo</td>
                <td style="padding: 0px 21px 0px 24px;" rowspan="1">FIRMA DEL SOLICITANTE</td>
            </tr>
            <tr>
                <td style="padding: 0 0 0 0;">USUARIO: {{USUARIO}}</td>
            </tr>
            <tr>
                <td colspan="2" style="text-align: right;">v.:{{VERSION_SISTEMA}}</td>
            </tr>
        </table>
    </div>
     <script>
       
        window.JSREPORT_CHROME_PDF_OPTIONS = {
            width:  '80mm',
            height: '297mm'
        }
    </script>
</body>

</html>
